// font
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700&family=Fredericka+the+Great&family=Secular+One&display=swap');

// variable
$primaryColor: #58B4C8;
$secondaryColor: #F8DD4F;
$tertiaryColor: #E2707E;
$textColor: #5E5050;

@mixin tombol {
    display: inline-block;
    background-color: $primaryColor;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border: 0;
    border-radius: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: 0.3s color ease;

    &:hover {
      background-color: $tertiaryColor;
    }
}

body{
    background-color: $primaryColor;
}
h1{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    color: $secondaryColor;
    span{
        color: $primaryColor;
    }
}
p{
    font-family: 'Encode Sans', sans-serif;
    color: $textColor;
}

.container{

    .custom-card{
        box-shadow: 21px 30px 82px rgba(0, 0, 0, 0.25);
        .row{
            .custom-login-image{
                img{
                    width: 810px;
                    height: 560px;
                }
            }
        }
    }
}

.user{
    .form-group{
        margin-bottom: .5em;
        .form-control-user{
            height: 3em;
            background-color: #E0E0E0;
            border-radius: 10px;
            border: none;
        }
    }
}

.form-control-register{
    height: 3em;
    background-color: #E0E0E0;
    border-radius: 10px;
    border: none;
    margin-bottom: .5em;
}


.form-control-btn{
    min-height: 3em;
    width: 100%;
    background-color: $primaryColor;
    border-radius: 25px;
    border: none;
    color: white;
}

.btn-login{
    @include tombol();
    width: 20em;
}
.form-group{
    a{
        text-decoration: none;
        color: $textColor;
    }
}

.text-center
{
    a{
        text-decoration: none;
        color: $tertiaryColor;
    }
}
